* {box-sizing: border-box;}

html {scroll-behavior: smooth;}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #eef2f6
}

image {max-width: 100%;
    height: auto;
    display: block;
    border-radius: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-color: red ;
}