* {box-sizing: border-box;}

html {scroll-behavior: smooth;}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #eef2f6
}

img {max-width: 100%;
    height: auto;
    display: block;
    border-radius: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-color: red ;
}

h1 {margin: 0 0 8px;font-size: 2rem;}
h2 {margin: 24px 0 8px;font-size: 1.3rem;}
h3 {margin: 0 0 8px;font-size: 1.1rem;}

p {margin: 0 0 12px;}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
    gap: 50px;
}

.header-inner {
    display: flex;
    align-items: center;
    
}

#main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}