* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #eef2f6
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-color: red;
}

h1 {
    margin: 0 0 8px;
    font-size: 2rem;
}

h2 {
    margin: 24px 0 8px;
    font-size: 1.3rem;
}

h3 {
    margin: 0 0 8px;
    font-size: 1.1rem;
}

p {
    margin: 0 0 12px;
}

nav {
    margin-left: 50px;
    flex: 1;
    justify-content: center;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0px;
    gap: 50px;

}

nav ul li a {
    color: #333;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #007bff;
}

.logo img {
    width: 100px;
    height: auto;
    display: block;
    border-radius: 10;
    border: 2px solid black;
}

.header-inner {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

#main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.teaser-grid {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    text-align: center;
    align-items: stretch;
}

.teaser-grid section {
    flex: 1;
    flex-direction: column;
    display: flex;
}

.teaser-grid img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.teaser-grid section p {
    flex-grow: 1;
    margin-bottom: 20px;
}

.teaser-grid figure {
    margin: 0;
    display: block;
}

.teaser-grid h2 {
    min-height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-site {
    background-color: #ffffff;
    padding: 10px 0;
    top: 0;
    position: sticky;
    box-shadow: 0 2px 10px;
}

.theater-article {
    display: flex;
    align-items: flex-start;
    
}

.theater-article .article-content {
    flex: 1.5;
    text-align: left;
}

.theater-article figure {
    flex: 1;
    margin: 0%;
}

.theater-article figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}